<!DOCTYPE html>
<html>
  <head>
    <title>Vent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div id="sidebar">
      <ul>
        <li class="category"><%= link_to "Vent", root_path %></li>
        <li><%= link_to "Post", root_path %></li>
        <li>About</li>
      </ul>

      <p class="sign_in">User Login</p>
    </div>
    <div id="main_content">

    </div>
    <%= yield %>
  </body>
</html>
